body {
  background-image: url('../media/willow3.jpg');
  background-size: 80% auto;
  background-repeat: no-repeat;
  background-position: top;
  background-color: #B5BF63;
}

.main {
  background-color: #F0F2A7; /*#969b10*/
  color: #595336;
  text-align: center;
  top: 0;
  margin-left: 15%;
  margin-right: 15%;
  padding: 20px;
}

.nav {
  margin-left: 32%;
}

.nav, a {
  font-size: 20px;
  text-decoration: none;
  color: darkseagreen;
  padding: 10px;
}

.nav, a:hover {
  text-decoration: underline;
  color: #735D43;
}

ul {
  list-style: none;
}